.navbar {
  background: #468a59;
}

.nav-link {
  color: rgba(255, 255, 255, 0);
}

.content-main {
  margin: 10px 0 0 0;
}

.content-main .title {
  padding: 10px 0;
}

.other {
  padding: 10px 0;
  color: #a0a0a0;
}

#footer {
  padding: 10px;
  background: #468a59;
  text-align: right;
  color: rgba(255, 255, 255, 0);
  bottom: 0; 
}

#footer a {
  color: rgba(255, 255, 255, 0);
}

.description {
  padding: 10px;
  font-size: 11px;
}

